//
template(name="experiences_modal")
    div(id="experiences_modal-").modal.modal-fixed-footer
        .modal-content.center
            h4.black-text= title
            p= text
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close