template(name="soundcloud_sdk")
    script(src='//connect.soundcloud.com/sdk-2.0.0.js')
    script.
        SC.initialize({
            client_id: "YOUR_CLIENT_ID",
            redirect_uri: "http://example.com/callback"
        });
