// TODO: SASS

.btn-edit {
  right: -2em;
}

#intro, {padding-top: 4rem;}


input, textarea {
  border-bottom: 1px solid #fff;
}

////////////////////////

@import "lib/colors.scss";


// TODO: global material variables
$color_theme: $purple; // TODO: color("deep-purple", "darken-1");
$color_banner: $white_90;
$color_sticky: $color_theme;
$color_sticky_icon: $white_90;


.delete-item {
  cursor: pointer;
}

.remove-item {
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 5px #e2e2e2;
  }
  &:active {
    text-shadow: 0 0 1px #e2e2e2;
  }
}

.button-collapse {
  color: $color_theme;
}
.parallax-container {
  min-height: 380px;
  max-height: 400px;

  line-height: 0;
  height: auto;
  color: $color_banner;

  .section {
    width: 100%;
  }
}

.sticky-row {
  margin-bottom: 0;
}

.sticky-social {
  background: $color_sticky;
  opacity: 0.2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
    height: 4rem;
    font-size: 3rem;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.5s ease-in-out;
  }
}
.sticky-icon {
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out; //

  &:hover {
    text-shadow: 0 0 3rem rgba($color_sticky_icon, .9);
    transition: text-shadow 0.3s ease-in-out; //
  }
}

// MEDIA QUERIES


// TODO:
//@media #{$small-and-down} {
//  // styles for small screens and down //
//}
//@media #{$medium-and-up} {
//  // styles for medium screens and larger //
//}
//@media #{$large-and-up} {
//  // styles for large screens and up //
//}



