$color_nav: #607D8B;

nav {
  .brand-logo {
    color: $color_nav;
  }
  ul a {
    color: $color_nav;
  }
}



#sign-out {
  position: fixed;
  right: 10px;
}


@media only screen and(min-width : 992px) {
  .logo-name {
    display: none;
  }
}
