//
template(name="contact_modal")
    #contact_modal.modal.modal-fixed-footer
        .modal-content.center
            h4.black-text= modal.title
            +contact_form
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
