template(name="footer")
    footer#footer
        footer.page-footer.cyan
            #footer.container.section
                .row
                    each footer
                        +footer_top
                        //+footer_links
                        +footer_bottom
                        +footer_modal
                        +footer_disclaimer

template(name="footer_top")
    .col.s3
        img.img-footer.circle.responsive-img(src='#{img}', alt='#{alt}')
    .col.s9
        h5= title
        p.text-lighten-4= text
        a.waves-effect.waves-light.btn.modal-trigger(href="#footer-modal") READ MORE


//
template(name="footer_bottom")
    .col.s12
        .footer-copyright.cyan.darken-2
            .container
                | &copy; 2015 Art of Neutrality. &nbsp; All rights reserved. &nbsp;
                a.modal-trigger.text-lighten-3.yellow-text(href="#footer-disclaimer") Disclaimer


