//
template(name="footer_disclaimer")
    #footer-disclaimer.modal.modal-fixed-footer
        .modal-content.center
            h4.grey-text= disclaimer.title
            p.grey-text= disclaimer.text
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
