//
template(name="footer_modal")
    #footer-modal.modal.modal-fixed-footer
        .modal-content.center
            h4= readmore.title
            p.black-text= readmore.text
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close