// TODO: Sass
.read-more {
  margin-bottom: 0.5em;

  &:hover {
    text-shadow: 0 0 50px yellow;
    font-weight: 900;
  }
}

#index-banner {
  height: 100vh;
  position: relative;

  p {
    line-height: 2rem;
  }

}


@media only screen and(max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
    // TODO:  background: linear-gradient(to right, #673AB7, #9c27b0);
  }
}

// TODO:
//@media #{$medium-and-down} {
@media only screen and(max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .logo-name {
    display: none;
  }
}