//
template(name="intro_modal")
   #intro_modal.modal.modal-fixed-footer
      .modal-content.center
         h4.black-text= modal.title
         p= modal.text
      .modal-footer
         a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close