// TODO: Sass:a


.intro-text {
  font-weight: 100;
  font-size: 2.5rem;

  strong {
    font-weight: 400;
    color: deeppink;
  }
}

.icon-text-area {
  text-align: center;
}

.intro-icon {
  min-width: 1em;
  min-height: 1em;
}